<body>
    <section class="section-container">
        <div class="left-content">
            <h2 style="color: blue;">Why choose Us</h2>
            <h2>Thousands of Experts around the world are ready to help</h2>
            <p>Elearning, or electronic learning, is the delivery of learning and training through digital resources. Although eLearning is based on formalized learning, it is provided through electronic devices such as computers, tablets and even cellular phones that are connected to the internet. This makes it easy for users to learn anytime, anywhere, with few, if any, restrictions. Basically, eLearning is training, learning, or education delivered online through a computer or any other digital device. Check out our Edura Glossary which is jam packed full of eLearning terms.</p>
        </div>
        <div class="right-content">
            <img src="../assets/img/teach2.jpg" alt="Image">
            <button class="button">Click Me</button>
        </div>
    </section>
</body>