
<footer class="text-center text-lg-start  ">
    
   
 
      <div class="container">
        <div class="me-5 d-flex d-lg-block p-2 ">
            <div class="row ">
                <div class="col-md-4">
                    <div class="footer-icon">
                        <i class="fas fa-phone"></i>
                        <p>Call Us Anytime: <br>(123) 456-7890</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-icon">
                        <i class="fas fa-envelope"></i>
                        <p>Email: <br>info@example.com</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-icon">
                        <i class="fas fa-map-marker-alt"></i> 
                        <p>Location: <br> 123 Main St, City, Country</p>
                    </div>
                </div>
            </div>
           
          </div>
      </div>
      
   
    <section class="foot">
      <div class="container text-center text-md-start mt-5">
     
        <div class="row mt-3">
         
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
           
            <h6 class="text-uppercase fw-bold mb-4 pt-2">
              <i class="fas fa-gem me-3"></i>EDURA
            </h6>
            <p>
                 It isn’t just about learning reading, writing and arithmetic at school. Instead, formal education is about gaining the knowledge and the skills needed to become a better person and create a better society to live in.
            </p>

            <div>
                <h6>Follow Us On:</h6>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-github"></i>
                </a>
              </div>
          </div>
          
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          
            <h6 class="text-uppercase fw-bold mb-4 pt-4">
              Quick Links
            </h6>
            <p>
              <a href="https://angular.io/" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="https://react.dev/" class="text-reset">React</a>
            </p>
            <p>
              <a href="https://www.w3schools.com/js/" class="text-reset">Javascript</a>
            </p>
            <p>
              <a href="https://www.w3schools.com/python/" class="text-reset">Python</a>
            </p>
          </div>
          
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
           
            <h6 class="text-uppercase fw-bold mb-4 pt-4">
              Resources
            </h6>
            <p>
              <a href="https://angular.io/tutorial/tour-of-heroes/toh-pt0" class="text-reset">Projects</a>
            </p>
            <p>
              <a href="https://www.youtube.com/" class="text-reset">Youtube</a>
            </p>
            <p>
              <a href="https://www.w3schools.com/" class="text-reset">WW3 School</a>
            </p>
            <p>
              <a href="https://www.w3schools.com/" class="text-reset">Online</a>
            </p>
          </div>
       
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
         
            <h6 class="text-uppercase fw-bold mb-4 pt-4">
              Get In Touch
            </h6>
            <p>Suscribe Our newsletter to get our latest updates and news
         
           <form class="newsletter-form" action="#" method="POST">
            <input type="email" name="email" placeholder="Your Email" required> <br> <br>
            <button type="submit">Subscribe</button>
        </form>
          </div>
       
        </div>
       
      </div>
    </section>
   
  
   
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Copyright © 2023 Enura All Rights Reserved.
     
    </div>
   
  </footer>
  
