<div class="container">
<div class="row">
    <div class="col">
        <img src="https://i.pinimg.com/236x/4e/08/d1/4e08d1c2c51530aa9aa84b753081b7d6.jpg" alt="" width="60%" style="margin-left: 5%;">
    </div>
    <div class="col">
       <p style="color: blue;"><i class="fa-solid fa-book"></i> About Our University</p>
       <h1>Welcome to Edura University</h1>
       <p>Collaboratively simplify user friendly networks after principle centered coordinate effective methods of empowerment distributed niche markets pursue market positioning web-readiness after resource sucking applications.
<br><br>
        Online education, also known as e-learning, is a method of learning that takes place over the internet. It offers individuals the opportunity to acquire knowledge, skills.</p> <br>
        <div class="row">
            <div class="col">
                <img src="https://i.pinimg.com/236x/b5/61/e1/b561e1cc8b4cf76af92cf65d9ffb0c10.jpg" alt="" width="50%">
               <br><br> <button class="btn btn-primary">About More</button>
            </div>
            <div class="col">
               <p ><i class="fa-solid fa-check"></i> Get access to 4,000+ of our top courses</p>
               <p><i class="fa-solid fa-check"></i> Popular topics to learn now</p>
               <p><i class="fa-solid fa-check"></i> Find the right instructor for you</p>
            </div>
        </div>
    </div>
</div>
</div>
