<div id="teachers container-fluid mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 container-fluid" style="height: 80%;">
        <div class="row d-flex align-items-center welcome" style="padding-top: 12vh;">
          <div class="col-md-8 container" style="height: 100%;">
            <img
              src="https://www.betterup.com/hubfs/Imported_Blog_Media/employee%20resource%20group%20blog%20image-1.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="col-md-4">
            <img
              src="https://www.betterup.com/hubfs/Imported_Blog_Media/employee%20resource%20group%20blog%20image-1.png"
              class="d-block w-100"
              alt="..."
            />
            <img
              src="https://www.betterup.com/hubfs/Imported_Blog_Media/employee%20resource%20group%20blog%20image-1.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 container-fluid" >
        <h6 style="color: blue;"><i class="bi bi-journal-text"></i> ABOUT OUR UNIVERSITY</h6>
        <h1 class="mt-2">Welcome to Edura University.</h1>
        <p class="lead-text mt-2" style="color: rgb(41, 39, 39);">
          Collaboratively simplify user friendly networks after principle
          centered coordinate effective methods of empowerment distributed niche
          markets pursue market positioning web-readiness after resource sucking
          applications.
          <br /><br>
          Online education, also known as e-learning, is a method of learning
          that takes place over the internet. It offers individuals the
          opportunity to acquire knowledge, skills.
        </p>
        <div class="d-flex row container mt-3">
          <div class="col-md-6 container-fluid">
            <img class="img-fluid" style="border-radius: 5%;"
              src="https://www.betterup.com/hubfs/Imported_Blog_Media/employee%20resource%20group%20blog%20image-1.png"
              alt=""
            />
          </div>
          <div class="col-md-6 container-fluid">
            <p>
              <i class="bi bi-check-circle-fill me-2" style="color: blue;"></i>Get access to 4,000+ of our
              top courses
            </p>
            <p>
                <i class="bi bi-check-circle-fill me-2"style="color: blue;"></i>Popular topics to learn now
              </p>
              <p>
                <i class="bi bi-check-circle-fill me-2" style="color: blue;"></i>Find the right instructor for you
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br>