
<div class="container-fluid intro">
    <div class="container ">
        <h2>Welcome to Exterior Elegance</h2>
        <p class="intro-text">Transforming Outdoor Spaces into Masterpieces</p>
        <p class="statement">Our mission is to create outdoor spaces that inspire, relax, and elevate your lifestyle.</p>
    </div>
</div>

<div class="container section">
    <h2 class="header">Our Approach to Exterior Design</h2>
    <div class="row">
        <div class="col-md-4 item">
            <img src="https://images.unsplash.com/photo-1617850687395-620757feb1f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZXh0ZXJpb3IlMjBkZXNpZ258ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60" alt="">
            <h3>Nature-Inspired</h3>
            <p>We draw inspiration from nature's beauty, crafting outdoor spaces that harmonize with the environment.</p>
        </div>
        <div class="col-md-4 item">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/835/537/desktop-wallpaper-custom-mural-brick-wall-clothing-store-wall-backgrounds-wall-mural-home-decor-tailor-shop-element-3d-clothing-store.jpg" alt="">
            <h3>Custom Tailoring</h3>
            <p>Every project is unique, and we tailor our designs to match your vision, ensuring a personalized experience.</p>
        </div>
        <div class="col-md-4 item">
            <img src="https://e0.pxfuel.com/wallpapers/290/661/desktop-wallpaper-sunrise-villa-exterior-palm-house-homee-sunrise-desigen-clouds-pool-swimming-pool.jpg" alt="">
            <h3>Quality Craftsmanship</h3>
            <p>We use the finest materials and techniques to create durable, sustainable, and visually stunning landscapes.</p>
        </div>
    </div>
</div>