<div class="container">
    <div class="left-side">
        <img src="https://images.unsplash.com/photo-1580719993637-b6d3c256fbf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDd8fGl0JTIwY29tcGFueXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="Left Image">
    </div>


   
    
    <div class="right-side">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img src="feature1.jpg" class="card-img-top" alt="Feature 1">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, consectetur?
                                .</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="feature2.jpg" class="card-img-top" alt="Feature 2">
                        <div class="card-body">
                            <h5 class="card-title">Easy Laerning</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, enim?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="feature2.jpg" class="card-img-top" alt="Feature 2">
                        <div class="card-body">
                            <h5 class="card-title">Easy Laerning</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, enim?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="feature2.jpg" class="card-img-top" alt="Feature 2">
                        <div class="card-body">
                            <h5 class="card-title">Easy Laerning</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, enim?</p>
                        </div>
                    </div>
                </div>
            </div>
            
       
        
    </div>
</div>