
<h2>Explore Top Categories</h2>
<section class="explore-categories">
    
    <div class="category">
        <i class="fa fa-desktop" aria-hidden="true"></i>
        <h3>Category 1</h3>
        <a href="#" class="learn-more">Learn More</a>
    </div>
    <div class="category">
        <i class="fa fa-desktop" aria-hidden="true"></i>
        <h3>Category 2</h3>
        <a href="#" class="learn-more">Learn More</a>
    </div>
    <div class="category">
        <i class="fa fa-desktop" aria-hidden="true"></i>
        <h3>Category 3</h3>
        <a href="#" class="learn-more">Learn More</a>
    </div>
  
</section>