<div class="container ">
    <div class="col-md-12 background d-flex">
        <div class="col-md-6 leftDiv">
            <img src="assets/about-1.webp" alt="">
        </div>
        <div class="col-md-6 rightDiv">
            <div class="">
                <p style="color: blue;"><span><i class="fa-solid fa-book"></i></span>About Our University</p>
                <h2>WelCome to Edura Univercity.</h2>
                <p style="color: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ipsa nulla
                    quia facere molestiae
                    atque mollitia, reiciendis consequuntur rem numquam eum dolorum perspiciatis, doloribus dicta? </p>
                <p style="color: black;">Online education also known as e-learning, is a method of learning that takes
                    place over the
                    internet. it offers indiveduals the opertunity to aquire knowladge, skills.</p>

                <div class="d-flex">
                    <div style="width: 200px; height: 150px ;">
                        <img src="assets/about-img-1.jpg" style="width: 100%; height: 100%;" alt="">
                    </div>
                    <div>
                        <ul>
                            <li>Get Access to 4,000+ of our top Cources</li>
                            <li>Popular Topics to Learn now</li>
                            <li>Find the Right Instructor for you</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container ">
    <div class="col-md-12 background d-flex">
        <div class="col-md-6 leftDiv">
            <img src="assets/about-2.jpg" alt="">
        </div>
        <div class="col-md-6 rightDiv">
            <div class="">
                <p style="color: blue;"><span><i class="fa-solid fa-book"></i></span> why Choose Us.</p>
                <h2>Thousand of Experts Around <br>The World Ready To Help.</h2>
                <p style="color: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ipsa nulla
                    quia facere molestiae
                    atque mollitia, reiciendis consequuntur rem numquam eum dolorum perspiciatis, doloribus dicta? </p>
                <div>
                    <div class="d-flex">
                        <div class="card">
                            <h4><span class="me-3"><i class="fa-solid fa-circle-check" style="color: #005eff;"></i></span>World Class Trainers</h4>
                            <p>Sameless envisioneer tactical  data through services</p>
                        </div>
                        <div class="card">
                            <h4><span class="me-3"><i class="fa-solid fa-circle-check" style="color: #005eff;"></i></span>World Class Trainers</h4>
                            <p>Sameless envisioneer tactical  data through services</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="card">
                            <h4><span class="me-3"><i class="fa-solid fa-circle-check" style="color: #005eff;"></i></span>World Class Trainers</h4>
                            <p>Sameless envisioneer tactical  data through services</p>
                        </div>
                        <div class="card">
                            <h4><span class="me-3"><i class="fa-solid fa-circle-check" style="color: #005eff;"></i></span>World Class Trainers</h4>
                            <p>Sameless envisioneer tactical  data through services</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>