





    <div class="container">
        <h2 class="text-center ">Project Highlights</h2>
        <div class="row">
            
            <div class="col-md-6">
                <div class="project-card">
                    <img src="https://img.freepik.com/free-psd/luxury-beach-house-generative-ai_587448-2185.jpg?size=626&ext=jpg&ga=GA1.2.975166039.1693916898&semt=sph" alt="Project 1">
                    <h3>Villa </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="https://www.architectmagazine.com/project-gallery/luxury-villa-neoclassic-style-exterior-design" class="btn btn-primary">View Details</a>
                </div>
            </div>
            
            
            <div class="col-md-6">
                <div class="project-card">
                    <img src="https://st.hzcdn.com/fimgs/pictures/landscapes/decks-patios-and-walkways-outer-image-design-img~2f11135205355999_4460-1-ff04d82-w720-h720-b2-p0.jpg" alt="Project 2">
                    <h3>Modern Garden Design</h3>
                <p>A contemporary garden transformation with lush greenery and minimalist design.</p>
                    <a href="https://www.houzz.in/photos/modern-garden-design-ideas-phbr1-bp~t_26477~s_26738" class="btn btn-primary">View Details</a>
                </div>
            </div>
            
            <br>
            <br>
            
            <div class="col-md-6">
                <div class="project-card">
                    <img src="https://c4.wallpaperflare.com/wallpaper/787/399/647/life-resort-travel-vacation-wallpaper-preview.jpg" alt="Project 3">
                    <h3>Lakeside Retreat</h3>
                    <p>Creating a serene lakeside retreat with stunning waterfront views.</p>
                    <a href="https://www.tripadvisor.in/Hotel_Review-g293891-d338301-Reviews-Lakeside_Retreat_Resort_Spa-Pokhara_Gandaki_Zone_Western_Region.html" class="btn btn-primary">View Details</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="project-card">
                    <img src="https://img.freepik.com/free-photo/hotel-swimming-tropical-sky-sunset_1203-4853.jpg?size=626&ext=jpg" alt="Project 3">
                    <h3>Rooftop Oasis</h3>
                <p>Transforming a rooftop into an urban oasis with lush plants and cozy seating.</p>

                    <a href="https://www.booking.com/hotel/us/the-rooftop-oasis.html" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>

