<div class="container">
    <h2 class="text-center">Client Testimonials</h2>
    <div class="marquee-container">
        <div class=" card">
            <img src="https://cdn.pixabay.com/photo/2017/06/01/00/44/smiling-2362136_1280.jpg" alt="Client 1" class="card-img-top">
            <div class="card-body">
                <p >"Exterior Elegance transformed <br> my backyard into a paradise. <br> Their attention to detail  and <br> creativity exceeded my <br> expectations!"</p>
                <p class="name">Ammy</p>
            </div>
        </div>
        <div class=" card">
            <img src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGh1bWFufGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60" alt="Client 2" class="card-img-top">
            <div class="card-body">
                <p>"I highly recommend Exterior <br> Elegance  for their exceptional <br> work. <br> My outdoor living space is now  <br>the envy of my neighbors!"</p>
                <p class="name">Jane Smith</p>
            </div>
        </div>
        <div class=" card">
            <img src="https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDZ8fGh1bWFufGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60" alt="Client 3" class="card-img-top">
            <div class="card-body">
                <p >"Exterior Elegance brought our <br> vision to life. <br> Their professionalism and <br> commitment to quality are truly <br> commendable."</p>
                <p class="name">Michael Johnson</p>
            </div>
        </div>
        
        <div class=" card">
            <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fGh1bWFufGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60" alt="Client 4" class="card-img-top">
            <div class="card-body">
                <p >"Exterior Elegance transformed <br> my backyard into a paradise. <br> Their attention to detail  and <br> creativity exceeded my <br> expectations!"</p>
                <p class="name">John Doe</p>
            </div>
        </div>
        
    </div>
</div>
