<div id="contact">
  <footer
    class="text-center text-lg-start"
    style="color: white; background-color: rgb(10, 10, 78)"
  >
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h2 class="text-uppercase fw-bold mb-4">EDURA</h2>
            <p>
              Continually optimize backward manufactured products whereas
              communities negotiate life compelling alignments
            </p>
            <h3>FOLLOW US ON</h3>
            <div class="social-links d-flex">
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-youtube"></i></a>
            </div>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
            <ul>
                <li>
                  <a href="#" class="text-reset">Development</a>
                  </li>
                  <li>
                    <a href="#" class="text-reset">Marketing</a>
                  </li>
                  <li>
                    <a href="#" class="text-reset">Data Science</a>
                  </li>
                  <li>
                    <a href="#" class="text-reset">Business</a>
                  </li>
                  <li>
                    <a href="#" class="text-reset">Design</a>
                  </li>
                  <li>
                      <a href="#" class="text-reset">Photography</a>
                  </li>
            </ul>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
            <ul>
                <li>
                  <a href="#" class="text-reset">Development</a>
                  </li>
                  <li>
                    <a href="#" class="text-reset">Marketing</a>
                  </li>
                  <li>
                    <a href="#" class="text-reset">Data Science</a>
                  </li>
                  <li>
                    <a href="#" class="text-reset">Business</a>
                  </li>
                  <li>
                    <a href="#" class="text-reset">Design</a>
                  </li>
                  <li>
                      <a href="#" class="text-reset">Photography</a>
                  </li>
            </ul>
          </div>

          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Get in touch</h6>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <div class="justify-content-between d-flex p-4 m-4">
      <div class="ms-5">
        Copyright &copy; <span style="color: blue">Edura</span> 2023 All Rights
        Reserved
      </div>
      <div class="d-flex me-5" style="gap: 10px">
        <div>Privacy Policy</div>
        <div>Terms & Conditions</div>
      </div>
    </div>
  </footer>
</div>
