<h1 class="text-center"> Project Budget</h1>

<table class="table">
    <thead>
        <tr>
            <th>Expense Category</th>
            <th>Image</th>
            <th>Cost Estimate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>In-House Design and Development (DIY)</td>
            <td><img src="https://media.istockphoto.com/id/635732164/photo/realize-your-interior-dream-mixed-media.jpg?s=1024x1024&w=is&k=20&c=AtT-O4DBE3cAo9GsC6prCAjtzmJo_5YX4Vup90skaZI=" alt="Hourly Rate"></td>
            <td>$2,000 (40 hours x $50/hour)</td>
        </tr>
        <tr>
            <td>External Design (Professional Designer)</td>
            <td><img src="https://media.istockphoto.com/id/1206403720/vector/factory.jpg?s=612x612&w=0&k=20&c=xWULAtMLvejHXdK2BGByUMZiUv7lnYeLnMrZSSJMotI=" alt="Designer Fee"></td>
            <td>$3,000</td>
        </tr>
        <tr>
            <td>External Development (Professional Developer)</td>
            <td><img src="https://media.istockphoto.com/id/1421005747/vector/isometric-own-street-with-private-houses-gardens-cars-modern-house-with-terrace-and-pool.jpg?s=612x612&w=0&k=20&c=2my5uC4Boxdjo7PZFMw1Zn--Ejpdmc4bmGjZwhHAEAs=" alt="Developer Fee"></td>
            <td>$4,000</td>
        </tr>
       
    </tbody>
</table>

<h2 class="text-center total">Total Project Budget: $13,220</h2>

