<div class="footer" style="margin-top: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <div class="single_footer">
                    <h2 style="color: white;">EDURA</h2>
                    <ul>
                        <li><a href="">Continually optimize backward manufactured products whereas communities negotiate life alignments</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <div class="single_footer">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="">Development</a></li>
                        <li><a href="">Marketing</a></li>
                        <li><a href="">Data Science</a></li>
                        <li><a href="">Design</a></li>
                        <li><a href="">Photography</a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single_footer single_footer_address">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-phone"></i> +91 9933110290</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i> extnew@gmail.com</a></li>
                        <li><a href="#"><i class="fa fa-map-marker"></i> Mumbai,India </a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single_footer single_footer_address">
                    <h4>Get in touch!</h4>
                    <div class="signup_form">
                        <form action="#" class="subscribe">
                            <input type="text" class="subscribe__input" placeholder="Enter Email Address">
                            <button type="button" class="subscribe__btn"><i class="fa fa-check-circle"></i></button>
                        </form>
                    </div>
                </div>
                <div class="social_profile">
                    <h5 style="color: white;">  FOLLOW US ON: </h5>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <p class="copyright">Copyright © 2023 <a href="#">Exteria</a>. All Rights Reserved</p>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</div>


