
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ">
                <h1 class="hero-title">Transforming Outdoor Spaces</h1>
                <p class="hero-description">Creating beautiful and functional outdoor living spaces that inspire.</p>
                <a href="#portfolio" class="btn btn-primary ">Explore Our Work</a>
            </div>
            <div class="col-lg-6">
                <img src="https://c4.wallpaperflare.com/wallpaper/816/667/640/life-room-home-interior-wallpaper-preview.jpg" alt="">
                
            </div>
        </div>
    </div>


