<div id="home">
  <!-- navbar -->
  <div class="navbar mt-2 sticky-top">
    <div class="navbar-brand ms-5" style="background-color: gray">
      <h4 class="display-6">Edura Logo</h4>
    </div>
    <!-- toggle-button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span
        class="navbar-toggler-icon"
        style="border: 1px solid white !important"
      ></span>
    </button>

    <!-- nav-list -->

    <ul
      class="d-flex navbar-items"
      id="navbarNav"
      style="list-style-type: none; gap: 3px"
    >
      <li class="ms-4 mt-2">
        <a href="#home"
          ><label></label>
          <select>
            <option value="HOME">HOME</option>
          </select></a
        >
      </li>
      <li class="ms-4 mt-2">
        <a href="#courses"
          ><label></label>
          <select>
            <option value="COURSES">COURSES</option>
          </select></a
        >
      </li>
      <li class="ms-4 mt-2">
        <a href="#teachers"
          ><label></label
          ><select>
            <option value="TEACHERS">TEACHERS</option>
          </select></a
        >
      </li>
      <li class="ms-4 mt-2">
        <a href="#pages"
          ><label></label
          ><select>
            <option value="PAGES">PAGES</option>
          </select></a
        >
      </li>
      <li class="ms-4 mt-2">
        <a href="#blog"
          ><label></label
          ><select>
            <option value="BLOG">BLOG</option>
          </select></a
        >
      </li>
      <li class="ms-4 mt-2">
        <a href="#contact"
          ><label></label
          ><select>
            <option value="CONTACT">CONTACT</option>
          </select></a
        >
      </li>
      <i class="bi bi-search ms-4 icon"></i>
      <i class="bi bi-heart ms-4 icon"></i>
      <i class="bi bi-cart ms-4 icon"></i>
      <button class="btn btn-primary ms-4 me-4">
        CONTACT US<i class="bi bi-arrow-right-short"></i>
      </button>
    </ul>
  </div>

  <!-- banner -->
  <div class="container-fluid banner p-4">
    <div class="container-fluid mt-1">
      <div class="row">
        <div class="col-lg-6 text-left m-5 pt-5" style="color: white">
          <div class="d-flex m-2">
            <button class="btn btn-primary btn-rounded-pill-shaped">
              35% OFF
            </button>
            <h6 class="mt-3 ms-2">LEARN FROM TODAY</h6>
          </div>
          <h1 class="mt-3">The Worlds Best Online Education Institutes</h1>
          <p class="mt-5">
            Education can be thought of as the transmission of the values and
            accumulated knowledge of a society. In this sense, it is equivalent.
          </p>
          <button class="btn btn-primary btn-rounded-pill-shaped mt-4">
            GET STARTED<i class="bi bi-arrow-right-short"></i>
          </button>
        </div>
        <div class="col-lg-6 pt-5">
          <!-- <div
            id="carouselExampleInterval"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <img
                  src="https://www.betterup.com/hubfs/Imported_Blog_Media/employee%20resource%20group%20blog%20image-1.png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img
                  src="https://www.betterup.com/hubfs/Imported_Blog_Media/employee%20resource%20group%20blog%20image-1.png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img
                  src="https://www.betterup.com/hubfs/Imported_Blog_Media/employee%20resource%20group%20blog%20image-1.png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleInterval"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleInterval"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>