<footer>
    <div class="mainDiv">
        <div>
            <h1>EDURA</h1>
            <p>Continually Optamization backword manufutured Prodecutes wheres communities negociate life compellings  aligments</p>
            <h3>Follow us On :</h3>
        </div>
        <div>
            <h2>QUICK LINKS</h2>
            <ul>
                <li>Development</li>
                <li>Marketing</li>
                <li>Data Science</li>
                <li>Business</li>
                <li>Design Photography</li>
                <li>Photography</li>
            </ul>
        </div>
        <div>
            <h2>RESOURCES</h2>
            <ul>
                <li>Community</li>
                <li>Support</li>
                <li>Video Guides</li>
                <li>Documentation</li>
                <li>Security</li>
                <li>Template</li>
            </ul>
        </div>
        <div>
            <h2>Get In Touch!</h2>
            <p>Subscribe our  newsletter to get our latest Update & news.</p>
            <input type="text" class="pe-3" placeholder="Enter Your Email"><br>
            <button>SUBSCRIBE</button>
        </div>
    </div>
</footer>