<div class="container-fluid">
    <h2 >Our Services</h2>
    <div class="container ">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1591877236078-4a10cecaf644?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGxhbmRzY2FwZSUyMGRlc2lnbnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="Landscape Design">
                    <div class="bare-me">
                        <h3 >Landscape Design</h3>
                        <p >Create stunning outdoor environments that reflect your style and vision.</p>
                        <a href="https://www.gardendesign.com/landscape-design/" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://media.istockphoto.com/id/1063723682/photo/hand-sketching-a-designer-villa-with-pool.webp?b=1&s=170667a&w=0&k=20&c=OHSPcrXEJ1bK6Xasj2-cumJPQUkTYfzpnPN_VIjxPus=" alt="Architecture">
                    <div class="bare-me">
                        <h3 >Architecture</h3>
                        <p >Design innovative architectural elements that seamlessly blend with nature.</p>
                        <a href="https://www.archdaily.com/tag/architecture" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://plus.unsplash.com/premium_photo-1686167988053-3c9501537a8d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fE91dGRvb3IlMjBMaXZpbmclMjBTcGFjZXMlMjBkZXNpZ258ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60" alt="Outdoor Living Spaces">
                    <div class="bare-me">
                        <h3>Outdoor Living Spaces</h3>
                        <p >Create functional and inviting outdoor living areas for relaxation and entertainment.</p>
                        <a href="https://www.bhg.com/home-improvement/porch/outdoor-rooms/ideas-for-outdoor-living/" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
