<body>
    <header class="header">
        <nav class="navbar">
          <h2 class="logo"><a href="#">EDURA</a></h2>
          <input type="checkbox" id="menu-toggle" />
          <label for="menu-toggle" id="hamburger-btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
              <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" />
            </svg>
          </label>
          <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <div class="buttons">
            <a href="#" class="contact">Contact Us</a>
          </div>
        </nav>
      </header>
    <section class="hero-section">
        <div class="hero">
            <h2><b>The Worlds Best Online Education Institute</b></h2>
            <p>
               Education can be thought as the transmission of the values and accomulated knowledge of a society.
            </p>
            <div class="button">
                <a href="#" class="start">Get Started</a>
            </div>
        </div>
        <div class="img" style="float: right;">
            <img src="../assets/img/ban3.jpg"
                alt="hero image" />
        </div>
    </section>
</body>