<div class="about-section" id="#about">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title"><h4><b>ABOUT OUR UNIVERSITY</b></h4></span>
                        <h2>Welcome to Edura University.</h2>
                    </div>
                    <div class="text">Elearning, or electronic learning, is the delivery of learning and training through digital resources. Although eLearning is based on formalized learning, it is provided through electronic devices such as computers, tablets and even cellular phones that are connected to the internet. This makes it easy for users to learn anytime, anywhere, with few, if any, restrictions. Basically, eLearning is training, learning, or education delivered online through a computer or any other digital device. Check out our Edura Glossary  which is jam packed full of eLearning terms.
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <figure class="image-1"><a href="#" class="lightbox-image" >
                        <img title="edura" src="../assets/img/about.jpg" ></a>
                    </figure>

                </div>
            </div>

        </div>
    </div>


