<div class=" container mainDiv">
    <div class="mainDiv-1">
        <div class="leftDiv">
            <div style="width: 100%; height: 100%;">
                <h4><span><button>35% OFF</button></span> LEARN FROM TODAY</h4>
                <h1>The Worlds Best Online <br> Education <span>Institute.</span></h1>
                <p>Education can be thought of as the transmission of the values and accumulated knowladge of a society.
                    In this sense, it is equivalent </p>
                <button>Get Started <i class="fa-solid fa-arrow-right"></i></button>

            </div>
        </div>
        <div class="rightDiv">
            <div class="" style="width: 70%; height: 50%;">
                <img src="assets/hero-img.png" alt="">
            </div>
        </div>
    </div>
</div>