
    <nav>
        <div class="logo">
          <img src="https://img.freepik.com/free-vector/illustration-graduation-hat_53876-5920.jpg?size=626&ext=jpg&ga=GA1.1.172732355.1692458787&semt=ais" alt="">
        </div>
        
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#course">Course</a></li>
            <li><a href="#teacher">Teachers</a></li>
            <li><a href="#page">Pages</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="#"><i class="fas fa-heart"></i></a></li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i> </a></li>
        </ul>
        <button class="contact-button">Contact Us &nbsp;-></button>
    </nav>
    
