<div id="pages container-fluid mt-5">
  <div class="container">
    <div class="row welcome">
      <div class="col-lg-6 container-fluid">
        <img
          class="img-fluid"
          style="height: 100%"
          src="https://www.betterup.com/hubfs/Imported_Blog_Media/employee%20resource%20group%20blog%20image-1.png"
          alt=""
        />
      </div>
      <div class="col-lg-6 container-fluid">
        <h6 style="color: blue">
          <i class="bi bi-journal-text"></i> WHY CHOOSE US
        </h6>
        <h1 class="mt-2">
          Thousands Of Experts Around The World Ready To Help.
        </h1>
        <p class="lead-text mt-2" style="color: rgb(41, 39, 39)">
          Synergistically visualize alternative content before cross functional
          core Rapidiously administra standardized value via focused benefits.
          Rapidiously redefine highly efficient niche markets with plug-and-play
          materials professionally seize client centric solutions
        </p>
        <div class="d-flex row container mt-3">
          <div class="col-md-6 container-fluid">
            <div
              class="card p-2 m-2"
              style="border: 2px solid gray; border-radius: 5%"
            >
              <h6>
                <i class="bi bi-check-circle-fill me-1" style="color: blue"></i>
                World Class Trainers
              </h6>
              <p
                class="mt-1 ms-3"
                style="color: rgb(41, 39, 39); font-size: 2vh"
              >
                Seamlessly envisioneer tactical data through services
              </p>
            </div>
            <div
              class="card p-2 m-2"
              style="border: 2px solid gray; border-radius: 5%"
            >
              <h6>
                <i class="bi bi-check-circle-fill me-1" style="color: blue"></i>
                World Class Trainers
              </h6>
              <p
                class="mt-1 ms-3"
                style="color: rgb(41, 39, 39); font-size: 2vh"
              >
                Seamlessly envisioneer tactical data through services
              </p>
            </div>
          </div>
          <div class="col-md-6 container-fluid">
            <div
              class="card p-2 m-2"
              style="border: 2px solid gray; border-radius: 5%"
            >
              <h6>
                <i class="bi bi-check-circle-fill me-1" style="color: blue"></i>
                World Class Trainers
              </h6>
              <p
                class="mt-1 ms-3"
                style="color: rgb(41, 39, 39); font-size: 2vh"
              >
                Seamlessly envisioneer tactical data through services
              </p>
            </div>
            <div
              class="card p-2 m-2"
              style="border: 2px solid gray; border-radius: 5%"
            >
              <h6>
                <i class="bi bi-check-circle-fill me-1" style="color: blue"></i>
                World Class Trainers
              </h6>
              <p
                class="mt-1 ms-3"
                style="color: rgb(41, 39, 39); font-size: 2vh"
              >
                Seamlessly envisioneer tactical data through services
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br />
