<footer class="text-center text-lg-start  text-muted mt-5 text-white">
    <div class="footer">

        <div class="container mt-5">
         <div class="row">
             <div class="col-md-4 mt-5" style="border-right: 1px solid grey;">
                 <p class="text-white"><i class="bi bi-telephone text-white"></i> &nbsp; 
                     <span style="margin-left: 10px;">Call us any time:</span> <br> <span style="margin-left: 50px;" class="last"> +256 214 203 215</span></p>
             </div>
     
             <div class="col-md-4 mt-5" style="border-right: 1px solid grey;">
                 <p class="text-white text-center"><i class="bi bi-envelope text-white"></i> &nbsp; 
                     <span style="margin-left: 10px;">Email us 24/7 hours:</span> <br> <span style="margin-left: 50px;" class="last"> info@edura.com</span></p>
             </div>
     
             <div class="col-md-4 mt-5">
                 <p class="text-white text-center"><i class="bi bi-geo-alt text-white"></i> &nbsp; 
                     <span style="margin-left: 10px;">Our university location:</span> <br> <span style="margin-left: 50px;" class="last"> 147/I, Green Road, Dhaka</span></p>
             </div>
         </div>
        </div>
     
        <div class="fot">
         <div class="container">
             <div class="row">
                 <div class="col-md-3">
                     <img src="" alt="">
                 </div>
             </div>
         </div>
        </div>
     
       </div>
  
  
    <div class="las container p-4">
      <div class="container text-center text-md-start mt-5">
   
        <div class="row mt-3">
         
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
           
            <h6 class="text-uppercase fw-bold mb-4">
              <img src="../assets/img/logo1.svg" alt="">
            </h6>
            <p class="text-white">
                Continually optimize backward manufactured products whereas communities negotiate life compelling alignments
            </p>
          </div>
         
  
         
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-white">
         
            <h4 class="text-uppercase fw-bold mb-4" style="border-bottom: 5px solid blue; padding-bottom: 10px;">
                Quick Links
            </h4>
            <p>
              <a href="#!" class="text-reset">Development</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Marketing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Data Science</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Business</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Design</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Photography</a>
              </p>
          </div>
         
  
         
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-white">
         
            <h4 class="text-uppercase fw-bold mb-4" style="border-bottom: 5px solid blue; padding-bottom: 10px;">
                Resources
            </h4>
            <p>
              <a href="#!" class="text-reset">Community</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Support</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Video Guides</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Documentation</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Security</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Template</a>
              </p>
          </div>
         
  
         
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-white">
         
            <h4 class="text-uppercase fw-bold mb-4" style="border-bottom: 5px solid blue; padding-bottom: 10px;">Get in touch! </h4>

            <p>Subscribe our newsletter to get our latest Update & news</p>

            <form >
                <input type="text" class="form-control" placeholder="Enter Your Email"><br>
                <button class="btn btn-primary shadow-none text-uppercase"> Subscribe</button>
            </form>
          </div>
         
        </div>
   
      </div>
    </div>
  
  
   
    <div class="text-lg-start p-4" >
        Copyright © 2023 Edura All Rights Reserved.

        <div class="text-end" style="margin-top: -20px;"><a class="text-reset fw-bold" href="">Privacy Policy Terms & Condition</a></div>
    </div>
    
  </footer>


  <!-- <div class="footer">

   <div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mt-5" style="border-right: 1px solid grey;">
            <p class="text-white"><i class="bi bi-telephone text-white"></i> &nbsp; 
                <span style="margin-left: 10px;">Call us any time:</span> <br> <span style="margin-left: 50px;"> +256 214 203 215</span></p>
        </div>

        <div class="col-md-4 mt-5" style="border-right: 1px solid grey;">
            <p class="text-white text-center"><i class="bi bi-envelope text-white"></i> &nbsp; 
                <span style="margin-left: 10px;">Call us any time:</span> <br> <span style="margin-left: 50px;"> +256 214 203 215</span></p>
        </div>

        <div class="col-md-4 mt-5">
            <p class="text-white text-center"><i class="bi bi-geo-alt text-white"></i> &nbsp; 
                <span style="margin-left: 10px;">Call us any time:</span> <br> <span style="margin-left: 50px;"> +256 214 203 215</span></p>
        </div>
    </div>
   </div>

   <div class="fot">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="" alt="">
            </div>
        </div>
    </div>
   </div>

  </div> -->