 <br><br><div class="container-fluid">
    <div class="row">
        <div class="col">
            <p style="color: blue;"><i class="fa-solid fa-book"></i> Courses Categories</p>
            <h4>Explore top categories</h4> <hr>
            <button class="btn btn-primary">View all</button> 
        </div>
        <div class="col" style="border: 1px solid;
        box-shadow: 3px 6px #888888;">
            <i class="fa-brands fa-uikit"></i>
            <h6>UI/UX design</h6>
            <p>36+ Courses</p>
            <button class="btn btn-primary">Learn More</button>
        </div>
        <div class="col" style="border: 1px solid;
        box-shadow: 3px 6px #888888;">
            <i class="fa-solid fa-business-time"></i>
            <h6>Business</h6>
            <p>41+ Courses</p>
            <button class="btn btn-primary">Learn More</button>
        </div>
        <div class="col" style="border: 1px solid;
        box-shadow: 3px 6px #888888;">
            <i class="fa-solid fa-camera"></i>
            <h6>Photography</h6>
            <p>30+ Courses</p>
            <button class="btn btn-primary">Learn More</button>
        </div>
        <div class="col" style="border: 1px solid;
        box-shadow: 3px 6px #888888;">
            <i class="fa-solid fa-timeline"></i>
            <h6>Digital Marketing</h6>
            <p>36+ Courses</p>
            <button class="btn btn-primary">Learn More</button>
        </div>
    </div>

</div>
<br><br>
